$primary: #dd361c;
$secondary: #02bfe7;
$text: #000000;
$darkBackground: #212121;
$background3: #aeb0b5;
$background2: #d6d7d9;
$background-alt: #e6e6e6;
$background: #f8f8f8;

body {
	--primary: $primary,
	--secondary: $secondary
	--text: $text;
	--darkBackground: $darkBackground;
	--background3: $background2;
	--background2: $background3;
	--background-alt: $background-alt;
	--background: $background;
}

