html,
body {
	width: 100%;
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Manrope Variable', sans-serif;
}

p {
	font-family: 'Lexend Variable', sans-serif;
}
